.choicebox {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 300px;
}

button img {
    width: 600px;
    height: 600px;
}

.title h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 300px;
    
    font-family: 'Merriweather', serif;
    font-size: 740%;
}

.cat h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 170px;
    
    font-family: 'Merriweather', serif;
    font-size: 500%;
}


.choiceName h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 3%;

    font-family: 'Merriweather', serif;
    font-size: 640%;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}

.winnername {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1%;

    font-family: 'Merriweather', serif;
    font-size: 640%;
}